form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f8ff; /* רקע תכלת בהיר */
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
input{
    margin-bottom: 20px;

}
#submitButton{
    width: 10vw;
    height: 6vh;

}
#nameInput,#phoneInput,#numRoomsInput,#emailInput{
    width: 11vw;
    height: 7vh;
}
#adressInput{
    width: 13vw;
    height: 8vh;
}
.error{
    width: 11vw;
    height: 7vh;
 color: red;
}

#internet, #kitchen, #coffeeMachine {
    width: 2vw;
    height: 2vh;
}
